@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:wght@400;600;800&family=Poppins:wght@400;500;600;800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.events__container {
   display: grid;
	grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));

	margin: 2rem 0 6rem;
	column-gap: 2rem;
	grid-row: auto;
	grid-auto-rows: auto;
	row-gap: 5rem;
}



.dashboard {
	a.active__link {
		background-color: #e1e1e1;
		position: relative;
		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: .2rem;
			height: 100%;
			background-color: #8E085D;
		}
	}

}




.table__body {
	display: grid;
	grid-template-columns: 9rem 14rem auto 9rem 1.3rem ;
	column-gap: 1rem;
	width: 100%;

	&.without__plusone {
	grid-template-columns: 9rem 14rem auto 9rem ;

	}


	&.plus__one {
		position: relative;
		padding-left: 1.5rem;

		&::before {
			content: "";
			position: absolute;
			
			width: .5rem;
			height: .5rem;
			top: 50%;
			transform: translateY(-50%);
			background-color: #c468e65a;
			background-color: #d0d0d0;
			border-radius: 50%;
		}
	}
}

@media screen and (max-width: 900px) {
	.table__body {
		grid-template-columns: 10rem auto 1.3rem;
	}
}


.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
